body {
    background-color:blanchedalmond;
}

.code {
    color:rgb(255, 81, 0);
}

.cabecalho {
    background-color: rgb(0, 0, 0);
    color:blanchedalmond;
    margin: -1%;
    padding: 1%;
    text-align: center;
}